---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div id="main" class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}

  <!-- Page Content -->
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-sm-8">
          <h2>What is Science Hack Day?</h2>
          <p>Science Hack Day is a two-day event where anyone excited about making weird, silly or serious things with science comes together in the same physical space to see what they can prototype within 30 consecutive hours.</p>
          <p>The mission of Science Hack Day is to get excited and make things with science! People organically form multidisciplinary teams over the course of a weekend: particle physicists team up with designers, marketers join forces with open source rocket scientists, writers collaborate with molecular biologists, and developers partner with school kids. By collaborating on focused tasks during this short period, small groups of hackers are capable of producing remarkable results.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="https://www.instamojo.com/shdindia/?ref=offer_page">Register for SHD 2017 &raquo;</a> &nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-lg" href="https://goo.gl/BtPNwy">Submit your Idea &raquo;</a>
          </p>
        </div>
        <div class="col-sm-4">
          <h2>When?</h2>
          <address>
            <strong>Main Event : 14th and 15th October 2017</strong>
            <br><strong>Pre-Event Day-0</strong> : 13th October (Only for resident hackers)
            <br>Sankalp Bhoomi Resort
            <br>Belgaum, Karnataka, India
            <br>
          </address>
          <address>
            <abbr title="Email">E:</abbr> <a href="mailto:shdbelgaum@gmail.com">shdbelgaum@gmail.com</a>
          </address>
          <b>Follow us on:</b>
        </br>
        <a href="https://www.facebook.com/sciencehackdayindia/"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
          <a href="https://twitter.com/SHD_India"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
          <a href="https://www.flickr.com/groups/3087939@N23/"><i class="fa fa-flickr fa-3x" aria-hidden="true"></i></a>

        </div>
      </div>
  
  
  
  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
      {% if post.thumbnail %} 
      <div class="post-img">
         <img src="{{ site.baseurl }}/{{ post.thumbnail }}">
      </div>
      {% endif %}
      <span>
          <header>
            <h1>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h1>
            <p class="meta">
              {{ post.date | date: "%B %-d, %Y" }}
            </p>
          </header>
          <div class="excerpt">
              {{ post.excerpt | strip_html | escape }}
            <!--{{ post.content | strip_html | truncate: "250" }}-->
            <!--<a class="button" href="{{ post.url | prepend: site.baseurl }}">
              {{ site.theme_settings.str_continue_reading }}
            </a>-->
          </div>
      </span>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
